---
import type * as types from "@/lib/types";

import TargetInput from "./TargetInput.astro";

export type Props = types.DomainRecord & {
    domain_name: string;
};

const { _id, name, type, value, domain_name } = Astro.props;


const record_name = name.endsWith(`.${domain_name}`) ? name.replace(`.${domain_name}`, "") : name;

---


<tr data-record-id={_id} data-record-name={name}>
    <td>
        <span class="record-type">{type}</span>
    </td>
    <td>
        <span class="record-name">{record_name}</span>
    </td>
    <td>
        {type === "WEB" ? <TargetInput type="inline" value={value} thingy="record">
            <button class="domain-edit-button | nostyles pointer" data-record-edit="value" data-action-state="edit">
                <i class="bx bx-pencil"></i>
            </button>
        </TargetInput> : <div class="flex v-center gap-050">
                <p class="record-value" data-record-field="value">{value ?? ""}</p>
                <button class="domain-edit-button | nostyles pointer" data-record-edit="value" data-action-state="edit">
                    <i class="bx bx-pencil"></i>
                </button>
            </div>}
    </td>
    <td>
        <button class="domain-edit-button | nostyles pointer" data-domain-action="record_delete">
            <i class="bx bx-trash"></i>
        </button>
    </td>
</tr>

<script>
    import { actions } from "astro:actions";

    const recordEditButtons = document.querySelectorAll("[data-record-edit]") as NodeListOf<HTMLButtonElement>;
    for (let x of recordEditButtons) {
        x.addEventListener("click", async() => {
            const record = x.closest("tr") as HTMLElement;
            const domain = x.closest(".domain-card") as HTMLElement;
            if (!record || !domain) return;
            const field = record.querySelector(`[data-record-field="${x.dataset.recordEdit}"]`) as HTMLInputElement;
            if (!field) return;
            if (x.dataset.actionState === "edit") {
                field.dataset.previousValue = field.innerText;
                field.setAttribute("contenteditable", "true");
                field.focus();
                x.dataset.actionState = "save";
                x.innerHTML = "<i class='bx bx-save'></i>";
            } else if (x.dataset.actionState === "save") {
                field.setAttribute("contenteditable", "false");
                x.dataset.actionState = "loading";
                x.innerHTML = "<i class='bx bx-loader bx-spin'></i>";
                console.log(record.dataset.recordId);
                const { data, error } = await actions.records.update({
                    domainId: domain.dataset.domainId!,
                    recordId: record.dataset.recordId!,
                    [x.dataset.recordEdit!]: field.innerText,
                });
                if (!error) {
                    x.dataset.actionState = "edit";
                    x.innerHTML = "<i class='bx bx-pencil'></i>";
                } else if (error.status === 400) {
                    field.classList.add("input-error");
                    field.setAttribute("contenteditable", "true");
                    x.dataset.actionState = "save";
                    x.innerHTML = "<i class='bx bx-save'></i>";
                } else if (error.status === 401) {
                    document.location = "/login";
                } else if (error.status === 404) {
                    location.reload();
                } else if (error.status === 200) {
                    x.dataset.actionState = "edit";
                    x.innerHTML = "<i class='bx bx-pencil'></i>";
                } else {
                    console.log(error);
                    x.dataset.actionResult = `${error.status}`;
                    x.dataset.actionState = "error";
                    x.innerHTML = "<i class='bx bx-error'></i>";
                };
            } else if (x.dataset.actionState === "error") {
                alert(`Action failed with status (${x.dataset.actionResult})\nPlease see the console for more details`);
            };
        });
    };
    const recordEditFields = document.querySelectorAll("[data-record-field]") as NodeListOf<HTMLInputElement>;
    for (let x of recordEditFields) {
        x.addEventListener("click", () => {
            const record = x.closest("tr");
            if (!record) return;
            const editButton = record.querySelector(`[data-record-edit="${x.dataset.recordField}"]`) as HTMLButtonElement;
            if (!editButton) return;
            if (editButton.dataset.actionState != "edit") return;
            editButton.click();
        });
        x.addEventListener("keydown", e => {
            const record = x.closest("tr");
            if (!record) return;
            const editButton = record.querySelector(`[data-record-edit="${x.dataset.recordField}"]`) as HTMLButtonElement;
            if (!editButton) return;
            if (editButton.dataset.actionState != "save") return;
            if (e.key === "Enter" && !e.shiftKey) editButton.click();
            if (e.key === "Escape") {
                x.innerText = x.dataset.previousValue!;
                x.setAttribute("contenteditable", "false");
                editButton.dataset.actionState = "edit";
                editButton.innerHTML = "<i class='bx bx-pencil'></i>";
            }
        });
    };

    const recordDeleteButtons = document.querySelectorAll("[data-domain-action='record_delete']") as NodeListOf<HTMLButtonElement>;
    for (let x of recordDeleteButtons) {
        x.addEventListener("click", async() => {
            const icon = x.querySelector("i") as HTMLElement;
            if (x.dataset.actionState === "loading") return;
            if (x.dataset.actionState === "error") {
                alert(`Action failed with status (${x.dataset.actionResult})\nPlease see the console for more details`);
                x.dataset.actionState = "delete";
                icon.classList.remove("bx-error");
                icon.classList.add("bx-trash");
                return;
            };
            icon.classList.add("bx-loader");
            icon.classList.add("bx-spin");
            icon.classList.remove("bx-trash");
            x.dataset.actionState = "loading";
            try {
                const record = x.closest("tr") as HTMLElement;
                const domain = record.closest(".domain-card") as HTMLElement;
                if (!domain) return;
                if (!record) return;
                if (!confirm(`Are you sure you want to delete the record for ${record.dataset.recordFull}?`)) return;
                const { data, error } = await actions.records.delete({
                    domainId: domain.dataset.domainId!,
                    recordId: record.dataset.recordId!,
                });
                if (!error) {
                    return record.remove();
                } else if (error.status === 401) {
                    document.location = "/login";
                } else if (error.status === 404) {
                    location.reload();
                } else {
                    console.log(error);
                    icon.classList.add("bx-error");
                    x.dataset.actionResult = `${error.status}`;
                    x.dataset.actionState = "error";
                };
            } catch (e:any) {
                console.error(e);
                icon.classList.add("bx-error");
                x.dataset.actionResult = `${e.message}`;
                x.dataset.actionState = "error";
            };
            icon.classList.remove("bx-loader");
            icon.classList.remove("bx-spin");
            if (x.dataset.actionState === "loading") x.dataset.actionState = "delete";
        });
    };

    document.addEventListener("dblclick", e => {
        const target = e.target as HTMLElement;
        const record = target.closest("[data-record-field]") as HTMLElement;
        recordEditFields.forEach(x => {
            if (record && record === x) return;
            const record2 = x.closest("tr") as HTMLElement;
            const editButton = record2.querySelector(`[data-record-edit="${x.dataset.recordField}"]`) as HTMLButtonElement;
            const field = record2.querySelector(`[data-record-field="${x.dataset.recordField}"]`) as HTMLInputElement;
            if (!editButton) return;
            if (editButton.dataset.actionState != "save") return;
            field.innerText = field.dataset.previousValue!;
            field.setAttribute("contenteditable", "false");
            editButton.dataset.actionState = "edit";
            editButton.innerHTML = "<i class='bx bx-pencil'></i>";
        });
    });
</script>

<style>
    .record-name {
        font-size: 18px;
        color: var(--wxp-clr-text-100);
    }
    .record-domain {
        color: var(--wxp-clr-text-600);
    }

    .domain-edit-button {
        display: flex;
        transition: .3s;
    }
    .domain-edit-button[data-action-state="edit"] {
        color: var(--wxp-clr-text-600);
    }
    .domain-edit-button[data-action-state="error"] {
        color: var(--wxp-clr-danger-400);
    }
    .domain-edit-button[data-action-state="saved"] {
        color: var(--wxp-clr-success-400);
    }

    p.domain-edit-button[data-action-state="edit"],
    p.domain-edit-button[data-action-state="save"] {
        display: none;
    }

    [contenteditable="true"] {
        border: 1px solid var(--wxp-clr-text-600);
        border-radius: 5px;
        padding: 1px 5px;
        min-width: min(100%, 25ch);
        font-size: .9em;
    }
    [contenteditable="true"]:is(:hover, :focus-visible) {
        outline: 1px solid transparent;
    }
    [contenteditable="true"].input-error {
        border-color: var(--wxp-clr-danger-400)
    }
    [contenteditable="true"].input-error:is(:focus-visible) {
        border-color: var(--wxp-clr-warning-400);
    }
</style>